In [1]:
import pandas as pd

In [2]:
test = pd.ExcelFile('Input.xlsx')
test_df = pd.read_excel(test, header=[0,1])

In [3]:
test_df

  Unnamed: 0_level_0 2018        2019
  Unnamed: 0_level_1 GOLD SILVER GOLD SILVER
0              CHINA    1      2    3      4
1              INDIA    5      6    7      8
2                 US    9     10   11     12

In [4]:
# Set the first col. as an index
test_df = test_df.set_index(('Unnamed: 0_level_0', 'Unnamed: 0_level_1'))

In [5]:
# Stack resets the data into a different format.

test_df = pd.DataFrame(test_df.stack(0))

print(test_df)

                                               GOLD  SILVER
(Unnamed: 0_level_0, Unnamed: 0_level_1)
CHINA                                    2018     1       2
                                         2019     3       4
INDIA                                    2018     5       6
                                         2019     7       8
US                                       2018     9      10
                                         2019    11      12

In [6]:
test_df = pd.DataFrame(test_df.stack(0)).reset_index()

print(test_df)

   (Unnamed: 0_level_0, Unnamed: 0_level_1) level_1 level_2   0
0                                     CHINA    2018    GOLD   1
1                                     CHINA    2018  SILVER   2
2                                     CHINA    2019    GOLD   3
3                                     CHINA    2019  SILVER   4
4                                     INDIA    2018    GOLD   5
5                                     INDIA    2018  SILVER   6
6                                     INDIA    2019    GOLD   7
7                                     INDIA    2019  SILVER   8
8                                        US    2018    GOLD   9
9                                        US    2018  SILVER  10
10                                       US    2019    GOLD  11
11                                       US    2019  SILVER  12

In [7]:
test_df = test_df.rename(columns={('Unnamed: 0_level_0', 'Unnamed: 0_level_1') : 'Country', u'level_1' : 'year',
                       u'level_2' : 'type',
                        0 : 'value'
                       })

In [8]:
test_df

   Country  year    type  value
0    CHINA  2018    GOLD      1
1    CHINA  2018  SILVER      2
2    CHINA  2019    GOLD      3
3    CHINA  2019  SILVER      4
4    INDIA  2018    GOLD      5
5    INDIA  2018  SILVER      6
6    INDIA  2019    GOLD      7
7    INDIA  2019  SILVER      8
8       US  2018    GOLD      9
9       US  2018  SILVER     10
10      US  2019    GOLD     11
11      US  2019  SILVER     12